h1 {
    text-align: center;
    color: #7895B2;
    font-size: 4rem;
}

p, h2 {
    text-align: center;
    font-size: 2rem;
    color: #68A7AD;
}

div.center{
    text-align: center;
}
ol.center-ol{
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    list-style-type:;
}


img {
    
    width: 60%;
    align-content: center;
    object-fit: scale-down;  
}

img.icewater{
    height: 10%;
    width: 30%;
}

body{
    background-color: #F5EFE6;
}